@import "color"

footer
  width: 100%
  position: absolute
  bottom: 0
  left: 0
  text-align: center
  text-decoration: none

.fa-icons-footer

  a
    text-decoration: none

  li
    display: inline
    padding-right: 2em

    i
      background: $teal
      border-radius: 100%
      color: $white
      display: inline-block
      height: 2.5em
      line-height: 2.5em
      text-align: center
      width: 2.5em
