@import "color"

nav
  background-color: $teal

  img
    height: 50px
    width: 60px

  li
    color: $white
    display: inline
    font-size: 1.0em
    line-height: 50px

  ul
    list-style: none
    margin: 0
    padding-right: 2em
    float: right
