@import "color"

$height: 50px
$width: 6/5 * $height

nav
  background-color: $teal

  img
    height: $height
    width: $width

  li
    color: $white
    display: inline
    font-size: 1.0em
    line-height: $height
    margin-right: .75em
    margin-left: .75em

  ul
    list-style: none
    margin: 0
    padding-right: 2em
    float: right
