@import "normalize"
@import "nav"
@import "color"
@import "footer"

body
  font-family: 'Merriweather Sans', sans-serif !important

  a
    text-decoration: none
    color: $grey

.container
  margin: auto
  width: 75%
  margin-bottom: 80px

  .clear
    clear: both

  .left
    width: 60%
    display: inline
    float: left

  .right
    width: 40%
    display: inline
    float: right

  h1
    display: block

  h2
    color: $grey

  p
    color: $light-grey
    font-size: 1.3em
    width: 60%
    margin-right: 0

h1
  color: $teal
  font-size: 7em

ul
  list-style: none
  padding: 0px

.fa-icons

  li
    display: block
    padding-bottom: 1em

    &:before
      background: $teal
      border-radius: 100%
      color: $white
      display: inline-block
      height: 2.5em
      line-height: 2.5em
      text-align: center
      width: 2.5em

    p
      display: inline
      font-family: 'Merriweather Sans', sans-serif !important
