@import "constants";
@import "reset";
@import "nav";
@import "footer";

.hero {
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
  min-height: 70em;


  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    .hero-copy {
      text-align: center;
      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

.circular {
  float: left;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-image: url('/pictures/profpic.jpeg');
  background-size: cover;
}

.feedback {
  border-radius: 5px;
  font-size: 20px;
  margin: auto;
  padding: 14px 40px;
}

.centered {
  text-align: center;
  display: block;
}

.floater {
  margin-left: 50px;
  max-width: 450px;
  float: left;
}

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

.wrap-blog {
  min-height: 70em;
  max-width: 58em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 750px) {

.floater {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  float: left;
}

  .circular {
    margin-top: 0px;
  float: none;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-image: url('/pictures/profpic.jpeg');
  background-size: cover;
  }

}

@media screen and (max-width: 600px) {

.floater {
  margin-left: 0px;
  max-width: 600px;
  float: left;
}

}
